@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.widget {
  display: flex;
  height: 400px;
  width: 650px;
  flex-wrap: wrap;
  cursor: pointer;
  border-radius: 20px;
}
.widget .weatherIcon {
  flex: 1 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
  color: #e22315;
}

.widget .weatherInfo {
  flex: 0 0 70%;
  height: 40%;
  background: #080705;
  display: flex;
  align-items: center;
  color: white;
}
.widget .weatherInfo .temperature {
  flex: 0 0 40%;
  width: 100%;
  font-size: 65px;
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 100;
}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.weatherInfo{
  padding-left: 10px;
}
.widget .date {
  flex: 0 0 30%;
  height: 40%;
  background: #e22315; /*#70c1b3*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.widget .extra-temp {
  flex: 1 100%;
  padding: 5% 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 100px;
}

.widget .extra-temp p {
  font-size: 25px;
  font-weight: 600;
}

.temp-info-minmax,
.weather-extra-info,
.two-sided-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  color: #e22315;
}

.widget .extra-temp .extra-info-leftside {
  text-align: left;
  font-weight: 600;
  color: #080705;
  font-size: 15px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.searchTerm {
  width: 50%;
  border: none;
  padding: 16px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 18px;
}

.searchTerm:focus {
  color: #e22315;
}

.searchButton {
  width: 80px;
  height: 32px;
  border: none;
  background: #e22315;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  outline: none;
  font-size: 16px;
  transition: 0.5s;
}

.searchButton:hover {
  background-color: #a00c01;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: -150px;
  margin-bottom: 50px;
}